<launch>
    <node name="kfpos_uwb_imu_px4" output="screen" pkg="gtec_roskfpos" type="kfpos" launch-prefix="">
        <param name="rate" type="int" value="25" />
        <param name="jolt" type="double" value="0.1"></param>
        <param name="accelNoise" type="double" value="0.5"></param>
        <param name="magAngleOffset" type="double" value="0.0"></param>
        <param name="configSubscriptions" textfile="$(find gtec_roskfpos)/src/kfpos/config/config_subscriptions_uwb_imu_px4.xml">
        </param>
        <param name="configPos" textfile="$(find gtec_roskfpos)/src/kfpos/config/config_pos.xml">
        </param>
        <param name="configPX4Flow" textfile="$(find gtec_roskfpos)/src/kfpos/config/config_px4flow.xml">
        </param>
        <param name="configUWB" textfile="$(find gtec_roskfpos)/src/kfpos/config/config_uwb.xml">
        </param>
        <param name="configIMU" textfile="$(find gtec_roskfpos)/src/kfpos/config/config_imu.xml">
        </param>
        <param name="configMAG" textfile="$(find gtec_roskfpos)/src/kfpos/config/config_mag.xml">
        </param>
    </node>
</launch>
