<launch>
    <arg default="1" name="use_uwb">
    </arg>
    <arg default="1" name="use_imu">
    </arg>
    <arg default="1" name="use_mag">
    </arg>
    <arg default="1" name="use_px4">
    </arg>
    <node launch-prefix="" name="kfpos" output="screen" pkg="gtec_roskfpos" type="kfpos">
        <param name="rate" type="int" value="40">
        </param>
        <param name="configSubscriptions" textfile="$(find gtec_roskfpos)/src/kfpos/config/config_subscriptions.xml">
        </param>
        <param name="configPos" textfile="$(find gtec_roskfpos)/src/kfpos/config/config_pos.xml">
        </param>
        <param name="configPX4Flow" textfile="$(find gtec_roskfpos)/src/kfpos/config/config_px4flow.xml">
        </param>
        <param name="configTag" textfile="$(find gtec_roskfpos)/src/kfpos/config/config_t0.xml">
        </param>
        <param name="configErleImu" textfile="$(find gtec_roskfpos)/src/kfpos/config/config_erleimu.xml">
        </param>
        <param name="configErleMag" textfile="$(find gtec_roskfpos)/src/kfpos/config/config_erlemag.xml">
        </param>
        <param name="use_uwb" type="int" value="$(arg use_uwb)">
        </param>
        <param name="use_imu" type="int" value="$(arg use_imu)">
        </param>
        <param name="use_mag" type="int" value="$(arg use_mag)">
        </param>
        <param name="use_px4" type="int" value="$(arg use_px4)">
        </param>
    </node>
</launch>
